/* Site para conteudo extra w3school */

div.quadrado {
    display: inline-block;
    margin: spx;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
}

div#q1 {
    background-color: aqua;
}

div#q2 {
    background-image: linear-gradient(to bottom, black, blue);
    background-image: radialGradient (to );
}

div#q3 {
    background-image: url("Landscape5.jpg");
    background-repeat: no-repeat;
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: space;

    background-size: contain;
    background-size: auto;
    background-size: 50px;
    background-size: cover;

    background-attachment: fixed;
    background-attachment: scroll;
}

body {
    background-color: black;
    background-image: url(Landscape6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
/* 
    ===============
    Resumido*
    =============== */
    background: black url(Landscape6.jpg) center center no-repeat fixed cover;
}

div#dentro {
    width: 200px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

div#fora {
    height: 10vh; /* "vh" stands for viewport height. Ajusta a altura conforme o tamanho da tela do usuario.*/
    background-color: red;
    position: relative;
}

